<% content_for :sidebar do %>
	<p class="hint text_only large padded">
		<%= t :'adva.sections.hints.parent_setting_for_edit' %>
	</p>
<% end %>

<h2><%= t(:'adva.titles.general_settings') %></h2>

<%= links_to_content_translations(@section) %>

<% f.field_set do %>
  <% column do %>
    <%= label_tag(:content_locale, t(:'adva.common.locale')) + %(<select id="content_locale" name="cl">#{options_for_select I18n.available_locales, Article.locale}</select>) + (@section.try(:single_article_mode) ? '' : f.text_field(:permalink, :label => true)) %>

    <%= f.text_field :title, :value => @section.title, :label => true %>
    <p>
			<label for="published"><%= t(:'adva.sections.titles.publish') %></label>
			<span class="hint" for="published">
				<%= t :'adva.sections.hints.publish' %>
			</span>
      <%= f.check_box :published, :label => true %>
    </p>
  <% end %>

  <% column do %>
    <%= f.text_field :permalink, :label => true, :hint => :'adva.sections.hints.permalink' %>
  <% end %>
<% end %>

<%= render :partial => "admin/sections/settings/#{@section.type.underscore}", :locals => { :f => f } %>
<%= render :partial => "admin/sections/settings/permissions", :locals => { :f => f } %>
